.swiper-pagination-bullet {
    border: 2px solid #fff;
    width: 1em;
    height: 1em;
    box-shadow: 0 0 9px #111827;
    opacity: 0.5;
	background-color: white;
}
.swiper-pagination-bullet-active {
	background-color: black;
}
.swiper-slide {
	max-height: 912px;
}
.slide1 {
    /* background-color: var(--color-sky-500) !important;*/
    background: linear-gradient(115deg, var(--color-sky-800) 0%, var(--color-sky-800) 24%, var(--color-sky-700) 24%, var(--color-sky-700) 43%, var(--color-sky-600) 43%, var(--color-sky-600) 52%, var(--color-sky-500) 52%, var(--color-sky-500) 100%);
    animation: animate 5s ease infinite alternate;
}
@keyframes animate {
  }