@import 'partials/marquee.css';
@import 'partials/hero.css';

a:hover {
	cursor: hand;
}
.white-text-shadow {
	text-shadow: 2px 2px 4px #000000;
}

h1, h2, h3, h4 {
	font-family: "Lexend", sans-serif;
  	font-optical-sizing: auto;
}
.swiper2 .swiper-slide {
	margin-right: 50px;
	max-width: fit-content;
}